* {
        margin: 0;
        padding: 0;
}

html {
 scroll-behavior: smooth;
}

#app {
        background: #FCFAFB;
}

@media screen and (max-width: 480px){
        * {
                margin: 0;
                padding: 0;
        }
}